table.table tbody tr.odd td {
    background-color: #d65050 !important;
    color: white !important;
}

table.table tbody tr.even td {
    background-color: #3d83b9 !important;
    color: white !important;
}