<hinv-header></hinv-header>

<button class="btn btn-primary" (click)="toggle()">Rooms List</button>
<div [hidden]="hiderooms">
    <h3>Number of Rooms Available is:</h3>
    <div [innerText]="numberOfRooms"></div>
</div>


<div *ngIf="!hiderooms">
    <hinv-rooms-list [rooms]="roomList" [title]="'Room List'" (selectRoom)="onRoomSelected($event)"></hinv-rooms-list>
</div>

<div>
    <button class="btn btn-primary" (click)="addRoom()">Add a Room</button>
    <button class="btn btn-secondary" (click)="editRoom()">Edit Room List</button>
    <button class="btn btn-danger" (click)="deleteRoom('102')">Delete Room</button>
</div>

